////////////
// Variables

$topbar: #171717;
$home-link: white;
$menu: #f5f5f5;
$menu-red: #DF334B;
$menu-blue: #33b1df;
$menu-green: #33df91;
$menu-orange: #df9a33;

//////////
// Imports

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

/////////
// Mixins

// Font mixins
@mixin lato($weight) {
	font-family: 'Lato', sans-serif;
	font-weight: $weight;
}
@mixin raleway($weight) {
	font-family: 'Raleway', sans-serif;
	font-weight: $weight;
}

// Transitions mixins
@mixin fadein($propriety) {
	-webkit-transition: $propriety 0.4s ease-in-out;
	-moz-transition: $propriety 0.4s ease-in-out;
	-ms-transition: $propriety 0.4s ease-in-out;
	-o-transition: $propriety 0.4s ease-in-out;
	transition: $propriety 0.4s ease-in-out;
}

// Mixins for the page title container
@mixin container-title($color) {
	padding: 50px 0 20px 0;
	margin-bottom: 30px;
	background-color: $color;
	h2{
		@include lato(100);
		color: $menu;
	}
}

// Mixins for the work page containers
@mixin container-light {
	padding: 50px 0;
	text-align: center;
	h2 {
		@include lato(100);
		padding-top: 25px;
	}
	a,p {@include lato(300);}
	a {color: $menu-red;}
	p {font-size: 20px;}
}

@mixin container-dark {
	@include container-light;
	background-color: darken($menu, 5%);
}


///////////////////
// General Layout Code

body {
	@extend %breakword !optional;
	background-color: $menu;
}

a {
	text-decoration: none;
	color: $menu-blue;
	@include fadein(color);

	&:hover {color: darken($menu-blue, 12%);}
}

///////////
// Menu Bar
.topbar {
	background-color: $topbar;
	img {
		float: left;
		height: 90px;
		width: 90px;
		margin-right: 5px;
	}

	.home-link h2 {
		@include lato(100);
		color: $home-link;
		padding-top: 20px; padding-bottom: 10px;
	}

	menu a h5 {
		@include lato(100);
		@include fadein(background);
		float: right;
		padding: 10px 15px;
		margin: 5px 0 0 15px;
		color: $menu;

		&.contact {background-color: $menu; color: $topbar; @include lato(300);}
		&.blog:hover {background-color: $menu-blue;}
		&.work:hover {background-color: $menu-red;}
		&.about:hover {background-color: $menu-orange;}
		&.contact:hover {background-color: $menu-green;}
	}
}

//////////////
// Index Page
.container-splash {
	text-align: center;
	// background-color: $menu;
	padding: 50px 0 20px 0;

	.circular {
		width: 200px; height: 200px;
		border-radius: 100px;
		border: solid 6px $topbar;
		margin-bottom: 20px;
	}

	h3 {@include lato(300); color: $topbar;}
	h4 {@include lato(300); color: $topbar;}
}

.container-example {
	@include container-dark;
	@include lato(400);

	h3 {
		@include lato(300);
		padding-bottom: 30px;
	}
	h4 {
		@include lato(300);
		font-weight:bold;
		padding-bottom: 15px;
	}
	.logo {padding-bottom: 10px;}
}

.container-blog-redux {
	text-align:center;
	padding-top: 30px;
	h3 {@include lato(300); padding-bottom: 20px;}
	h4 {@include lato(300); margin-bottom: 5px;}
	p {margin-top: 0; margin-bottom: 40px; }
}


////////////////////////////////////
// Blog Posts and Posts List Layouts
.container-blog {
	@include container-title($menu-blue);
}

.posts-list {
	h2 {@include lato(300);}
	td {
		padding: 10px 20px 10px 0;

		h4, h5, h6 {margin: 0;}

		h5,h6 {color: $topbar; @include lato(100);}

		.posts-link {
			@include lato(300);
			color: $topbar;
			h4 {
                @include fadein(color);
				color: $topbar;
				&:hover {color:$menu-blue;}
			}
		}
	}
}

.blog-post {
	padding-top: 30px;
	.title {
		@include lato(100);
		text-align: center;
		color: $menu-blue;
	}
	.sub-title {
		margin-top: 5px;
		padding: 5px 0;
		span {
			color: $menu-blue;
			text-align: center;
			@include raleway(200);
			i {
				padding-right: 10px;
			}
		}
	}

	h3 {
		@include raleway(200);
		text-align: left;
		margin-top: 20px;

	}
	p {
		padding-bottom: 10px;
	}

	.social-links {
		margin: 0;
	}
}

.comments {
	margin-top: 50px;
}

////////////
// Work Page
.container-title {@include container-title($menu-red);}
.container-rdc, .container-more {@include container-light;}
.container-ml {@include container-dark;}

/////////////
// About Page

.container-about {@include container-title($menu-orange);}


///////////////
// Contact Page
input[type="text"],
input[type="email"]
{
  background-color: white;
  border: 1px solid #cccccc;
  color: $topbar;
  margin: 0 0 10px 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 298px;
  -webkit-appearance: none;
  appearance: none;
}
input.subject {
	width: 600px;
}
textarea {
  background-color: white;
  border: 1px solid #cccccc;
  color: $topbar;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 150px;
  width: 600px;
}

input[type="submit"] {
	background-color: $menu-green;
	border: none;
	padding: 10px 32px;
	@include fadein(background-color);

	&:hover {
		background-color: darken($menu-green, 7%);
	}
}

.container-contact {@include container-title(darken($menu-green,5%));}
.container-contact-mail  {margin-top: 75px; text-align: center; @include lato(100); }
.container-contact-social {margin-top: 100px; text-align: center;}

