/* #Site Styles
================================================== */
a {
	color:#0D386D;
	text-decoration: none;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
a:link {
	color:#0D386D;
}
a:visited {
	color:#0D386D;
}
a:hover {
	color:#92BDF2;
}

h1 {
	color:#DAE9FB;
	font-family:'The Girl Next Door', cursive;
	font-size:3em;
	font-weight:bold;
	line-height:1.2em;
	letter-spacing:1.5px;
	text-transform:uppercase;
}

h2 {
	color: #0D386D;
	font-family:'Ubuntu', Helvetica, Arial, sans-serif;
	font-size:2em;
	line-height:1.2em;
	letter-spacing:1px;
	margin-top: 40px;
	margin-bottom:15px;
	text-transform:uppercase;
	text-align:left;
}

h3 {
	color: #0D386D;
	font-size:2em;
	line-height:1.5em;
	text-decoration:underline;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}


h3:hover {
	color:#92BDF2;
}

h4 {
	color:black;
	font-size:1.3em;
	line-height:1.2em;
	margin-bottom:5px;
}
h4:after {
	content:'\00bb';
	padding-left:10px;
}

body {
	background-color: #EDF4FD;
	color:#444;
	font-size:100%;
}

p {
	font-size:1.6em;
	line-height:1.7em;
	font-family:Georgia,"Times New Roman",serif;
	text-align: justify;
}

ol, ul {
	font-size:1.5em;
}

ul {
	list-style:none;
	margin-left:4px;
}

li {
	line-height:1.4em;
}

hr {
	margin-bottom:20px;
}

blockquote p {
	font-size:1.5em;
	line-height:1.3em;
}

code {
	font-family:'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
	font-size:0.9em;
}

sup {
	position:relative;
	bottom:15px;
	font-size:0.8em;
}

footer {
	margin-top:20px;
	border-top:1px solid #ddd;
	padding:10px 0;
}


.post-image {
	margin-bottom:20px;
}

.columns img {
	max-width:100%;
	height:auto;
}

.photo {
	border:5px solid #fff;
	outline:1px solid #ccc;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
	box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

.about_photo {
	width: 150px;
	float: right;
	margin-left: 30px;
}

.aligncenter {
	display:block;
	margin:0 auto;
}
.header-container {
	width:100%;
	background-color: #092649;
}

.branding {
	padding: 50px 0 40px 0;
	text-align: center;
}

.branding p {
	color: #DAE9FB;
	font-family:'Ubuntu', sans-serif;
	font-weight: normal;
	margin:0 0 30px 0;
	text-align: center;
}


.site-heading {
	color:black;
	font-family:'Lato',Helvetica, Arial, sans-serif;
	font-size:2em;
	font-weight:normal;
	line-height:1.2em;
	letter-spacing:0.3px;
	word-spacing: 5px;
	margin:0px 0 14px 0;
	text-shadow:1px 1px blue, 2px 2px blue, 3px 3px blue;
	text-transform:uppercase;
	text-align: left;
}



.social-icon i {
	display: inline-block;
	margin-right:10px;
	padding:14px 9px 8px 9px;
	border:3px solid #155EB7;
	border-radius: 50%;
	text-align: center;
 	color: #155EB7;

	-webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	   -moz-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	    -ms-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	     -o-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	        transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

.social-icon i:hover {
	color: #5B9CEC;
	border-color: #5B9CEC;
}


.menu-container {
	width: 100%;
	height: 75px;
	background-color: #092649;
	border-top: 5px solid #5B9CEC;
	border-bottom: 5px solid #5B9CEC;
}
menu {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
menu a, menu a:link, menu a:visited {
	height: 75px;
	width: 125px;
	margin:0;
	padding:24px 30px;
	line-height: 75px;
	font-size: 1.4em;
	color: #DAE9FB;
	-webkit-transition: background-color .2s ease-in-out;
	   -moz-transition: background-color .2s ease-in-out;
	    -ms-transition: background-color .2s ease-in-out;
	     -o-transition: background-color .2s ease-in-out;
	        transition: background-color .2s ease-in-out;
}

menu a:hover {
	background-color: #071C36;
}

.icon-bullhorn {
	color:#DAE9FB;
	margin-right: 5px;
}
.icon-bookmark {
	color: #DAE9FB;
	margin-right: 5px;
}
.icon-beaker {
	color: #DAE9FB;
	margin-right: 5px;
}
.icon-hand-right {
	color: #DAE9FB;
	margin-right: 5px;
}

.technical h2 {
	text-align: right;
}

.technical ul a h3{
	text-align: right;
}


.feed {
	padding: 20px 20px;

}

.feed h2 {
	margin-bottom: 50px;
	font-weight:bold;
}

.feed h3 {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

.feed h3 i {
	margin-right: 10px;
}


.feed p {
	margin:0 0 50px 0;
}


/*= Posts
*****************************/
article h1 {
	color:#0D386D;
	font-family: 'Ubuntu', cursive;
	font-size:3em;
	font-weight:normal;
	line-height:1.2em;
	letter-spacing:1.5px;
	margin-bottom:0px;
	padding-top: 50px;
	text-transform:uppercase;
	text-align: center;
}

article a {
		color: yellow;
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}

	article a:visited {
		color:#155EB7;

	}

	article a:hover {
		color:#92BDF2;
	}

.sub-title {
	text-align:center;
	padding: 10px 0;
	border-top: 1px solid #0D386D;
	border-bottom: 1px solid #0D386D;
	height:25px;
	margin: 20px 0;
}
	article .post-date {
		color: #0D386D;
		float: left;
		font-size:1em;
		text-align: center;
	}

	article .post-tags {
		float:right;
	}

.posts {
	font-size:1em;
	list-style:none;
	color: #0D386D;
}
	.posts h3 {
		font-family:Georgia, "Times New Roman", serif;
		font-size:1.5em;
		line-height:1.2em;
		margin-bottom:10px;
		text-transform:none;
		text-decoration:none;
		text-align: left;
	}

	#sidebar .posts h3 {
		font-size:1.2em;
	}

	.post-date,
	.post-meta,
	.post-tags {
		color:#0D386D;
		font-size:1em;
		font-weight:bold;
		/*text-shadow:1px 1px #999;*/
		margin-bottom:10px;
	}
	.post-tags i {
		padding: 0 3px 0 15px;
	}
	.post-date i {
		padding-right: 5px;
	}

.logo {
	text-align:center;
	margin-top: 50px;
}

.logo p {text-align: center;}




footer {
	text-align: center;
}





/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.site-heading {
			/*margin-top:20px;*/
		}

		#sidebar {
			/*margin-top:15px;*/
		}

		.branding {
            padding: 20px 0;
        }

        .branding p {
            margin: 0 0 10px 0;
            padding: 0;
        }

        .branding h1 {
            font-size: 2em;
        }

		/*.sub-heading {
            color:#FFBF83;
            font-family:'Anton',Helvetica, Arial, sans-serif;
            font-size:1.8em;
            font-weight:normal;
            line-height:1.2em;
            letter-spacing:1.5px;
            margin-bottom:14px;
            text-shadow:1px 1px #999;
            text-transform:uppercase;
        }*/

        .posts li span {
            display: none;
        }

        body article h1 {
            font-size: 1.8em;
        }

        body article h1 .post-date {
            float: bottom;
        }

        body p {
            font-size: 1.4em;
            line-height: 1.4em;
            padding: 10px;
            margin-bottom: 15px;
            text-align: left;
        }

        menu {
			width: 100%;
			margin: 0 auto;
		}
		menu a, menu a:link, menu a:visited {
			display: inline;
			text-decoration: none;
			padding: 5px;
			font-size: 1.2em;
			color: #DAE9FB;
			-webkit-transition: background-color .2s ease-in-out;
			   -moz-transition: background-color .2s ease-in-out;
			    -ms-transition: background-color .2s ease-in-out;
			     -o-transition: background-color .2s ease-in-out;
			        transition: background-color .2s ease-in-out;
		}

		menu a i.icon-bullhorn,
		menu a i.icon-bookmark,
		menu a i.icon-beaker,
		menu a i.icon-hand-right {
			display: none;
		}

		.posts h3 {
		font-family:Georgia, "Times New Roman", serif;
		font-size:1.2em;
		line-height:1.2em;
		margin-bottom:10px;
		text-transform:none;
		text-decoration:none;
		text-align: left;
	}

	.feed h2 {
		font-size: 1.5em;
	}

	.feed h3 {
		margin-bottom: 0px;
		font-size:1.3em;
		line-height: 1.3em;
		font-weight:bold;
	}

	.about_photo {
	display: none;
	}

	footer {
		padding: 10px;
	}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}