<section class="topbar">
  <section class="row">
    <div class="large-5 columns home-link">
      <a href="/">
        <img src="/images/logo.jpg">
        <h2>Paul McFreely</h2>
      </a>
    </div>

    <menu class="large-5 large-offset-2 columns menu">
      <a href="/contact.html"><h5 class="contact">Hire Me</h5></a>
      <!-- <a href="/about.html"><h5 class="about">About</h5></a> -->
      <a href="/projects.html"><h5 class="work">Projects</h5></a>
      <a href="/blog.html"><h5 class="blog">Blog</h5></a>
    </menu>
  </section>
</section>