

<aside  id="sidebar">
	<header>
		<div class="header-container">
			<div class="container">
				<div class="branding">
					<a href="/"><h1>Paul McFreely</h1></a>

					<p>Coder for hire</p>

					<div class="social-icon">
						<a href="http://twitter.com/PaulRMCfreely">
							<i class="icon-twitter icon-large"></i>
						</a>
						<a href="https://github.com/McFreely">
							<i class="icon-github icon-large"></i>
						</a>
						<a href="mailto:paulmcfreely@gmail.com">
							<i class="icon-envelope-alt icon-large"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
</aside>
<aside class="menu">
	<div class="menu-container">
		<div class="container">
			<menu class="">
				<a href="/">
					<i class="icon-bullhorn"></i>
					Blog
			    </a>
				<a href="/archive.html">
					<i class="icon-bookmark"></i>
					Archive
			    </a>
			    <a href="/projects.html">
					<i class="icon-beaker"></i>
					Projects
			    </a>
			    <a href="/about.html">
					<i class="icon-hand-right"></i>
					About
			    </a>
			</menu>
		</div>
	</div>
</aside>