<aside class="sixteen columns" id="sidebar">
	<header id="branding">
		
		
			<a href="/">
				<div class="site-heading">Paul McFreely</div>
			</a>
			<div id="nav">
				<ul class="menu">
					<a href="/">The Blog</a>
					|	
					<a href="/">The Rest</a>
				</ul>
			</div>
	
		<div class="site-subheading">
			I'm here to learn and chew bubble gum, and I'm out of gum !
		</div>
		
	</header>
	<!-- <h2>Recent Posts</h2>
	<ul class='posts'>
		{% for post in site.posts limit:4 %}
		<li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
		{% endfor %}
		<li><h3><a href="/">The rest....</a></h3></li>
	</ul> -->
</aside>