<aside>
	<div class="presentation">
		<a href="/">
			<img src="/images/space_craft.png" alt="logo" id="space">
			<h1>Paul McFreely</h1>
		</a>
		<p> You can follow me on
			<a href="http://twitter.com/PaulRMCfreely">twitter</a>,
			see my code on
			<a href="https://github.com/McFreely">github</a>,
			or just shoot me an
			<a href="mailto:paulmcfreely@gmail.com">email</a>.
		</p>
	</div>

	<menu>
		<a href="/">Blog</a>
	    <a href="/projects.html">Projects</a>
	    <a href="/about.html">About Me</a>
	</menu>
</aside>