{% include head.html %}
{% include menu.html %}

<!-- <div class="container-blog">
  <div class="row">
    <div class="large-12 columns">
      <a href="/blog.html">
      	<h2>:: Blog</h2>
      </a>

    </div>
  </div>
</div> -->

<div class="row">
<article class="large-8 large-offset-2 columns blog-post">
	<h2 class="title">{{ page.title }}</h2>
	<img src="{{ page.image }}" alt="{{ page.placeholder }}" class="banner">
	<div class="sub-title row">
		<span class="post-date large-4 small-6 columns">
			<i class="icon-calendar"></i>{{ page.date || date_to_string }}
		</span>
		<span class="post-tags large-4 small-6 columns">
			<i class="icon-tag"></i>{{page.tags}}
		</span>
	</div>


	{{ content }}
	</br>
	<p class="social-links"><i>Si cet article vous plaît, n'hésitez pas à le partager :</i></p>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="paulmcfreely">Tweet</a>
	<a><g:plusone size="medium"></g:plusone></a>
	<a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>

</article>

{% include social.html %}
{% include disqus.html %}
{% include footer.html %}
